a:link{
    color:green;
    background-color: aqua;
}

a:visited{
    color:purple;
    background-color: red;
}

a:hover{
    color:red;
    background-color: yellow;
}

a:active{
    color:orange;
    background-color: blue;
}

a[href="index.html"] {
  color: orange;
  background-color: yellow;
}

a[href="tareas.html"] {
  color: blue;
  background-color: darkorange;
}

a[href="selectores.html"] {
  color: greenyellow;
  background-color: purple;
}
