li:nth-child(odd){
    background-color: gray;
}

li:nth-child(even){
    background-color: aquamarine;
}

li::before{
    content: "-->";
    font-weight: bold;
    color:blueviolet;
}

li:hover{
    background-color: red;
    cursor: pointer;
}

li.hecha::after{
    content: "\\/";
    font-weight: bold;
}

a[href="index.html"] {
  color: orange;
  background-color: yellow;
}

a[href="selectores.html"] {
  color: greenyellow;
  background-color: purple;
}

a[href="favoritos.html"] {
  color: white;
  background-color: steelblue;
}